<div class="genres-container">
  <ul class="genres-list">
    <li>Action</li>
    <li>Platformers</li>
    <li>Racing</li>
    <li>RPG</li>
    <li>Fighting</li>
    <li>Sandbox</li>
  </ul>
</div>
<div class="audio-player-wrapper slow">
  <div class="hidden-track-name">******</div>
  <img class="hidden-game-image" src="../images/question.png" alt="hidden game image">
  <audio class="audioplayer"></audio>
  <div class="current-track-display"></div>
  <div class="progress-bar">
    <div class="progress"></div>
  </div>
  <div class="time">
    <div class="current-time">0:00</div>
    <span>/</span>
    <div class="length"></div>
  </div>
  <div class="volume-container">
    <div class="volume-progress-bar">
      <div class="volume-progress"></div>
    </div>
    <div class="volume-button on"></div>
  </div>
  <ul class="track-list"></ul>
  <div class="player-buttons">
    <!--             <div class="previous player-button"></div> -->
    <div class="start-track play player-button"></div>
    <!--             <div class="next player-button"></div> -->
  </div>
</div>
<h3>
  Score:
  <h3 class="score">0</h3>
</h3>
<div class="game-main-menu">
  <div class="games-list-wrapper">
    <ul class="games-list"></ul>
  </div>
  <div class="game-description">
    Listen to the music and choose the game from the list you think the song is
    from!
  </div>
</div>
<button class="next-level">Next</button>
