*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background: rgb(32, 66, 116);
$text: rgb(172, 189, 238);

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./assets/images/florian-krumm-Bl9A2pSPxzk-unsplash.jpg');
  background-size: auto;
  background-position-x: center;
  background-color: $background;
  height: 100vh;
  color: $text;
  font-family: 'Raleway';
  font-size: 2em;
  font-weight: 600;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  background-color: $background;
  box-shadow: 10px 2px 8px black;
}

nav{
  width: 100%;
}

.nav-header{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}


main{
  margin: 100px 200px;
  display: flex;
  flex-direction: column;
}

.genres-container{
  width: 100%;
}

.genres-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.game-main-menu{
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}

.game-description{
  width: 50%;
  background-color: $background;
  box-shadow: 0px 4px 3px black;
  display: flex;
}

.games-list-wrapper{
  width: 50%;
  background-color: $background;
  box-shadow: 0px 4px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*audioplayer*/
.audio-player-wrapper{
  padding: 30px;
  background-color: $background;
  box-shadow: 0px 4px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

.current-track-display{
  height: 28px;
}

.progress-bar{
  width: 100%;
  height: 10px;
  background-color: white;
  cursor: pointer;
}

.progress{
  background-color: rgb(209, 50, 50);
  width: 0%;
  height: 100%;
}

.time{
  display: flex;
  flex-direction: row;
}

.volume-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.volume-progress-bar{
  width: 50%;
  height: 10px;
  background-color: white;
  cursor: pointer;
}

.volume-progress{
  width: 50%;
  height: 10px;
  background-color: rgb(209, 50, 50);
}

.volume-button{
  height: 32px;
  width: 32px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.volume-button:hover{
  transform: scale(1.3);
  transition-duration: 0.2s;
}

.on{
  background-image: url(./assets/images/volume.svg);
}

.off{
  background-image: url(./assets/images/volume-off.svg);
}

.player-buttons{
  display: flex;
  flex-direction: row;
}

.player-button{
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.player-button:hover{
  transform: scale(1.3);
  transition-duration: 0.2s;
}

.previous{
  background-image: url(./assets/images/previous.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.next{
  background-image: url(./assets/images/next.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.play{
  background-position: center;
  background-image: url(./assets/images/play.svg);
  background-size: 32px;
  background-repeat: no-repeat;
}

.pause{
  background-position: center;
  background-image: url(./assets/images/pause.svg);
  background-size: 16px;
  background-repeat: no-repeat;
}

.next-level{
  border: none;
  font-family: 'Raleway';
  background-color: $background;
  color: $text;
  font-size: 1.5em;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: $background;
}

.rs-logo{
  width: 100px;
  height: 50px;
}

.git-logo{
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1919px) {
  main{
      margin: 60px 160px;
  }
}

@media screen and (max-width: 1439px) {
  main{
      margin: 40px;
  }
}

@media screen and (max-width: 767px) {
  main{
      margin: 30px 10px;
  }
  body{
    font-size: 1.3em;
  }
}